<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= pageTitle %>
    </title> <!-- A variable for the page title -->
</head>

<body>
    <h1>
        <%= message %>
    </h1> <!-- A variable for the main message -->
    <p>This page was rendered on the server!</p>
</body>

</html>